body {
  background-color: rgb( 249, 231, 159);
  font-family: sans-serif;
}


.container__body .body__title {
  text-align: center;
  font-style: italic;
  font-size: 3rem;
  margin-bottom: 30px;
}


.container__body .body__subtitle {
  text-align: center;
  font-style: oblique;
  font-size: 22px;
}


.container__card .card {
  display: flex;
  flex-wrap: wrap;
}


.card .card__box {
  margin: 2em;
  list-style: none;
  flex: 25%;
}


.card .card__box:first-child {
  border: 1px solid rgb( 231, 76, 60);
}


.card .card__box:last-child {
  border: 1px solid rgb( 46, 204, 113);
}


.card .card__box:hover .card__image {
  transform: translateY(-15px);
}


.card .card__box .card__image img {
  width: 100%;
  background-color: rgb( 248, 196, 113);
}


.card__content {
  width: 100%;
  background-color: rgb( 252, 243, 207);
}


.content .content__title h3 {
  width: 100%;
  margin-block-start: 0px;
}


.content .content__title {
  text-align: center;
  font-size: 25px;
  border-bottom: 3px solid rgb( 248, 196, 113);
}


.content .content__text {
  width: 100%;
}


.content .content__text p {
  width: 80%;
  padding: 40px;
}


.content .content__text .fifth__text::before {
  content: "Soy un Pseudoelemento ";
  font-weight: bold;
  color: rgb( 149, 165, 166);
}


li:nth-child(even) .content__text {
  background-color: rgb( 253, 254, 254);
}


li:nth-child(odd) .content__text {
  background-color: rgb( 252, 243, 207);
}



.content .content__button {
  text-align: center;
}


.content .content__button button {
  width: 80%;
  padding: 10px;
  margin: 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 7px;
  border-style: none;
  background-color: rgb( 248, 196, 113);
  transition-duration: 0.4s;
}


.content .content__button button:hover {
  background-color: rgb( 245, 176, 65);
  box-shadow: 0px 5px;
}


li:nth-child(odd) .content__button button{
  background-color: rgb( 142, 68, 173);
  color: rgb( 253, 254, 254);
}



